<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020 xjunz. 保留所有权利
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xjunz.tool.wechat">

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>
    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        tools:targetApi="n">
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.AppTheme.Main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="true"
            android:label="@string/intro"
            android:screenOrientation="portrait"
            android:theme="@style/Base.AppTheme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.outer.DebugActivity"
            android:theme="@style/Base.AppTheme" />
        <activity
            android:name=".ui.outer.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.AppTheme.Main.Translucent.Dialog.Detail">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.ImageViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.AppTheme.Main.Translucent.Dialog.ImageViewer" />
        <activity
            android:name=".ui.message.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.AppTheme.Main.Translucent.Message" />
        <activity
            android:name=".ui.message.EditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.AppTheme" />
    </application>
</manifest>